<?xml version="1.0" encoding="UTF-8"?>

<!-- SPDX-License-Identifier: MPL-2.0 -->
<!-- Copyright (c) 2026 Diridium Technologies Inc. -->

<pluginMetaData path="oie-cache-manager">
    <name>OIE Cache Manager</name>
    <author>Diridium Technologies Inc.</author>
    <pluginVersion>${project.version}</pluginVersion>
    <mirthVersion>${plugin.supported.mc.versions}</mirthVersion>
    <url>https://diridium.com</url>
    <description>Guava LoadingCache wrapper for fast in-memory lookups against external databases.</description>

    <serverClasses>
        <string>com.diridium.oie.cache.CacheServerPlugin</string>
    </serverClasses>

    <clientClasses>
        <string>com.diridium.oie.cache.CacheSettingsPanelPlugin</string>
    </clientClasses>

    <migratorClass>com.diridium.oie.cache.CacheMigrator</migratorClass>

    <sqlMapConfigs>
        <entry>
            <string>all</string>
            <string>sqlmap.xml</string>
        </entry>
    </sqlMapConfigs>

    <library type="SERVER" path="oie-cache-manager-server-${project.version}.jar" />
    <library type="SHARED" path="oie-cache-manager-shared-${project.version}.jar" />
    <library type="CLIENT" path="oie-cache-manager-client-${project.version}.jar" />

    <apiProvider type="SERVLET_INTERFACE" name="com.diridium.oie.cache.CacheServletInterface" />
    <apiProvider type="SERVER_CLASS" name="com.diridium.oie.cache.CacheServlet" />
</pluginMetaData>
